In [1]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv("vehicles.csv")

In [64]:
df = df[df['condition'].notna()]

In [65]:
df = df[df['model'].notna()]

In [66]:
df = df.drop(columns=['id', 'url', 'region_url', 'image_url', 'description', 'county', 'vin'])
df.head(5)

,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,lat,long
0,duluth / superior,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,gas,167783.0,clean,automatic,4wd,NaN,NaN,red,mn,46.8433,-92.2550
1,duluth / superior,8750,2013.0,hyundai,sonata,excellent,4 cylinders,gas,90821.0,clean,automatic,fwd,NaN,NaN,grey,mn,46.9074,-92.4638
2,new haven,10900,2013.0,toyota,prius,good,4 cylinders,hybrid,92800.0,clean,automatic,fwd,NaN,NaN,blue,ct,41.1770,-73.1336
3,albuquerque,12500,2003.0,mitsubishi,lancer,good,4 cylinders,gas,NaN,clean,manual,4wd,mid-size,sedan,grey,nm,35.1868,-106.6650
4,duluth / superior,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,diesel,254217.0,clean,automatic,4wd,full-size,truck,white,mn,45.6836,-92.9648

In [68]:
item_counts = df["model"].value_counts()
print(item_counts)

f-150                    2395
silverado 1500           2054
camry                    1340
accord                   1295
1500                     1289
                         ...
aura 4dr sedan              1
Lucerne CXL                 1
malibu base                 1
lifted silverado 1500       1
2016Buick Regal             1
Name: model, Length: 19297, dtype: int64

In [69]:
df['model'].nunique()

19297

In [70]:
df.to_csv("vehicle.csv")